.slmp-slidemap .slmp-slide {
  min-height: 200px;
  overflow: hidden;
  position: relative;
  perspective: 1000px;
}
.slmp-slidemap .slmp-map {
  position: relative;
  background-color: #ffffff;
}
.slmp-slidemap .slmp-thumbnail,
.slmp-slidemap .slmp-thumbnail-mask {
  display: block;
  max-width: 100%;
  height: auto;
}
.slmp-slidemap .slmp-thumbnail {
  opacity: 0.75;
}
.slmp-slidemap .slmp-thumbnail-mask {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0px, 0px, 0px, 0px);
}
.slmp-slidemap .slmp-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slmp-slidemap .slmp-shadow .slmp-s {
  position: absolute;
  background-color: #eeeeee;
  opacity: 0.25;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.slmp-slidemap .slmp-shadow .slmp-s.t {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.slmp-slidemap .slmp-shadow .slmp-s.b {
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
}
.slmp-slidemap .slmp-shadow .slmp-s.l {
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
}
.slmp-slidemap .slmp-shadow .slmp-s.r {
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.slmp-slidemap .slmp-shadow + .slmp-thumbnail {
  opacity: 1;
}
.slmp-slidemap .slmp-area {
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #5cb85c;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.slmp-slidemap .slmp-area.active,
.slmp-slidemap .slmp-area:hover {
  border-color: #d9534f;
  z-index: 10;
}
.slmp-slidemap .slmp-image {
  transform-style: preserve-3d;
  transition: all 1s cubic-bezier(0.5, 0, 0, 1);
  transform: translate3d(0, 0, 0);
}
.slmp-slidemap .slmp-caption {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 0 5px;
  opacity: 0;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.slmp-slidemap .slmp-caption.active {
  opacity: 1;
}
.slmp-slidemap .slmp-caption > * {
  position: relative;
}
.slmp-slidemap .slmp-controls {
  position: absolute;
  bottom: 10px;
  left: 15px;
}
.slmp-slidemap .slmp-controls .slmp-play-pause .play {
  display: inline;
}
.slmp-slidemap .slmp-controls .slmp-play-pause .pause {
  display: none;
}
.slmp-slidemap .slmp-controls.play .slmp-play-pause .play {
  display: none;
}
.slmp-slidemap .slmp-controls.play .slmp-play-pause .pause {
  display: inline;
}
